/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body, html{
  overflow-x: hidden;
}

.dashboard{
  display: grid;
  grid-template-columns: 285px auto   ;
  height: 100vh;
  gap: 0px;
  
  background-color: white;
  padding: 10px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 2px solid gray;
}
.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #e0e0dc9e;
  padding: 20px;
}
/* .background{
  background-image: url('https://img.freepik.com/free-photo/flat-lay-minimalistic-geometrical-figures-with-copy-space_23-2148830290.jpg?w=740&t=st=1722243469~exp=1722244069~hmac=94cae8705c69d37ba9313e31c63fa857fbf998389845d3bf03b04080755744a7');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100vw;
} */
